%table.table.table-striped.table-bordered.table-condensed
  - @posts.each do |post|
  - user = User.get(post.user.id)
    %tr
      %td
        %a{:href => url_for("/posts/#{post.id}")}
          = post.title
      %td
        %a{:href => url_for("/users/#{user.id}")}
          = user.username
        = (post.edited_at.nil? ? "created at #{dt_fmt(post.created_at)}" : "edited at #{dt_fmt(post.edited_at)}")
    %tr
      %td{:colspan => 2}
        = truncate_html(markdown(post.body), 200)
